<?xml version="1.0"?>

<launch>

        <!-- Gravity compensation - cpp version -->
        <node name="g_compensator" pkg="g_compensation" type="g_compensator">
            <rosparam>
                com_frame: tool
                gravity_frame: base_link
                mass: 1.266
            </rosparam>
        </node>

</launch>
